<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.hong.spring.ex.mybatis.repository.ReviewRepository">
	<select id="selectReview" resultType="com.hong.spring.ex.mybatis.domain.Review" parameterType="int">
		select 
			`id`
			,`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`created_at`
			,`updated_at`
		from 
			`new_review`
		where
			`id` = #{id}	
	</select>
	
	<!-- insert는 무조건 resultType이 int로 고정이다 -->
	<insert id="insertReview" parameterType="map">
		
		insert into `new_review`
		(
			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
		)
		value 
		(
			#{storeId},
			#{menu},
			#{userName},
			#{point},
			#{review}
		)
	</insert>
	
	
	
	<!-- 파라미터로 클래스의 멤버변수를 쓴다. -->
	<insert id="insertReviewByObject" parameterType="com.hong.spring.ex.mybatis.domain.Review">
		insert into `new_review`
		(
			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
		)
		value 
		(
			#{storeId},
			#{menu},
			#{userName},
			#{point},
			#{review}
		)
	</insert>
	
	
	
	
</mapper>